{% load static %}
<footer class="border-top text-center py-3 text-black">
    <div class="container-footer">
        <div class="left-container">
            <p class="mb-0 small mt-2">
                <img class="contact-icon phone-icon" src="{% static 'img/icons/phone.png' %}" alt="Phone"> 
                +375(29) 123-45-67
                <a href="https://www.viber.com/ru/" class="contact-link" target="_blank">
                    <img class="contact-icon" src="{% static 'img/icons/viber.png' %}" alt="Viber">
                </a>
                <a href="https://www.whatsapp.com/?lang=ru_RU" class="contact-link" target="_blank">
                    <img class="contact-icon" src="{% static 'img/icons/watsapp.png' %}" alt="WhatsApp">
                </a>
                <a href="https://t.me" class="contact-link" target="_blank">
                    <img class="contact-icon" src="{% static 'img/icons/telegram.png' %}" alt="Telegram">
                </a>
            </p>
            <p class="email mt-3">
                <img class="contact-icon" src="{% static 'img/icons/email.png' %}" alt="Email">your_mail@yandex.by
            </p>
        </div>
        <div class="right-container">
                <p class="mb-0 small">Социальные сети:</p>
                <div class="d-flex justify-content-center mt-2">
                    <a href="https://www.instagram.com" target="_blank" class="contact-link">
                        <img class="contact-icon" src="{% static 'img/icons/instagram.png' %}" alt="Instagram">
                    </a>
                    <a href="https://www.vk.ru" target="_blank" class="contact-link">
                        <img class="contact-icon" src="{% static 'img/icons/vk.png' %}" alt="VK">
                    </a>
                </div>
        </div>
    </div>
    <p class="mb-0 neon-text text-center">© 2025 Интернет магазин Myshop_by</p>
</footer>