@font-face {
	font-family: 'AfacadFlux';
	src: url('../fonts/AfacadFlux.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'AfacadFlux', sans-serif;
	margin-bottom: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(to right, #2c3e50, #4ca1af);
	color: white;
}

.container {
	background: rgba(255, 255, 255, 0);
}

h1 {
	font-size: 3em;
	text-align: center;
	animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Header */
.navbar-nav .nav-link {
	color: black;
	transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
	color: #3498db;
	animation: pulse 0.6s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn.btn-dark.dropdown-toggle.custom-dropdown-toggle {
	width: 175px;
	height: 40px;
	border-radius: 15px !important;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	padding: 7px 15px !important;
	transition: background-color 0.3s, box-shadow 0.3s !important;
	background-color: black;
	color: #3498db;
}

.btn.btn-dark.dropdown-toggle.custom-dropdown-toggle:hover {
	background-color: #495057 !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) !important;
}

.custom-dropdown-menu {
	border-radius: 15px;
}

.custom-dropdown-menu .dropdown-item {
	color: #3498db;
	transition: background-color 0.3s;
}

.custom-dropdown-menu .dropdown-item:hover {
	background-color: #495057;
}

.cart-icon {
	position: relative;
	
}
.cart-img {
	width: 20px;
	height: 20px;
	margin-right: 4px;

}


.cart-count {
	position: absolute;
	top: -10px;
	right: -7px;
	background-color: rgba(255, 255, 255, 0.3);
	color: black;
	border-radius: 50%;
	padding: 2px 5px;
	font-size: 12px;
}

/* Главная страница */
.logo-container, .logo-animated, .logo-interactive {
    cursor: pointer;
    text-align: center;
}

.logo-interactive {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.hover-effect {
    transition: all 0.3s ease;
    display: inline-block;
    padding: 0 5px;
}

.hover-effect:hover {
    transform: translateY(-5px);
    color: #3498db;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.blink {
    animation: blink 1.2s infinite;
    color: #e74c3c;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.intro-text {
	font-size: 1.2em;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.category {
	justify-content: center;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	margin: 15px;
	padding: 20px;
	width: 300px;
	cursor: pointer;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}

.category:hover {
	transform: translateY(-5px);
}

.category h2 {
	margin: 0;
	font-size: 1.8em;
}

.subcategory-list {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.subcategory {
	padding: 10px 0;
	transition: background-color 0.3s;
}

.subcategory a {
	color: #3498db;;
	text-decoration: none;
	font-size: 1em;
}

.subcategory:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.empty-category {
	color: rgba(255, 255, 255, 0.6);
}

.no-categories {
	font-size: 1.5em;
	margin-top: 30px;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
	.main-title {
		font-size: 2.5em;
	}

	.category {
		width: 90%;
	}
}

/* Подкатегории */
.cards-img-top {
	margin: -20px;
	width: 300px;
	height: 250px;
	border-radius: 15px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transform: scale(0.8);
}

.cards {
	margin: 10px;
	padding: 15px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product {
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.btn {
	transition: transform 0.2s ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}

a {
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #141617;
}

/* Товар подробно */
.cards-products {
	margin: 10px auto;
	padding: 15px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
	width: 400px;
	height: 350px;
	border-radius: 15px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

/* Корзина */
.cart-container {
	text-align: center;
	max-width: 550px;
	margin: auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-sum {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	padding: 18px;
	margin: 10px;
	line-height: 1.0;
}

.cart-item {
	gap: 10px;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid black;
	transition: all 0.3s ease;
}

.cart-item a {
	text-decoration: none;
	color: inherit;
}

.cart-item a:hover {
	text-decoration: underline;
}

.cart-item:last-child {
	border-bottom: none;
}

.item-quantity,
.item-price {
	color: black;
}

.item-controls {
	display: flex;
	gap: 5px;
}

.increase-button,
.decrease-button,
.delete-button,
.clear-cart-button {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 8px 12px;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.increase-button {
	background-color: #4caf50;
	color: black;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.increase-button:hover {
	background-color: #3e8e41;
}

.decrease-button {
	background-color: #f44336;
	color: black;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.decrease-button:hover {
	background-color: #e91e63;
}

.delete-button {
	background-color: #e74c3c;
	color: black;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.delete-button:hover {
	background-color: #c0392b;
}

.clear-cart-button {
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #f44336;
	color: black;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.clear-cart-button:hover {
	background-color: #e91e63;
}

/* Анимация удаления элемента */
.cart-item {
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.cart-item.remove {
	opacity: 0;
	transform: translateY(-10px);
}

/* Пагинация */
.pagination {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.pagination .page-link {
	color: black;
	padding: 10px 15px;
	font-size: 16px;
	text-decoration: none;
}

.pagination .active .page-link {
	color: white;
	background-color: gray;
	border-color: black;
}

.pagination .disabled .page-link {
	color: gray;
}

.pagination .page-link:hover {
	color: black;
}

@media (max-width: 768px) {
	.pagination .page-link {
		padding: 8px 10px;
		font-size: 11px;
	}
}

/* Footer */
footer {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	margin-top: auto;
}

.container-footer {
	display: flex;
	align-items: center;
}

.left-container,
.right-container {
	flex: 0 0 50%;
	text-align: center;
	margin: 0;
}

.neon-text {
	color: black;
	text-shadow: 0 0 7px #00e5ff,
		0 0 10px #00e5ff, 
		0 0 21px #00e5ff, 
		0 0 42px #00bfff,
		0 0 82px #00bfff, 
		0 0 92px #00bfff, 
		0 0 102px #00bfff, 
		0 0 151px #00bfff;
}


.contact-icon {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	transition: transform 0.3s ease;
}

.phone-icon {
	margin-right: 0;
}
.contact-icon:hover {
	transform: translateY(-5px);
}
.contact-link {
	text-decoration: none;
}
.contact-link:hover {
	text-decoration: none;
}
