{% extends "base.html" %}
{% load static %}

{% block title %}
{{ product.name }} - Подробно о товаре
{% endblock %}

{% block content %}
<div class="container">
    <div class="cards-products col-10">
        <h2>{{ product.name }}</h2>
        <p><strong>Цена:</strong> {{ product.price}} руб.</p>
        <p><strong>Описание:</strong> {{ product.description }}</p>
        
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-image" />
        {% endif %}
        
        <div class="mt-4">
            <form action="{% url 'shop:add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Добавить в корзину</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
